.banner {
  display: flex;
  justify-content: center;
  background: lightblue;
  padding: 20px 10px;
}

.banner-inner {
  display: flex;
  max-width: 500px;
}
.col1 {
  display: flex;
  margin: 0;
}
.col1 > dt {
  white-space: nowrap;
}
.col1 > dd {
  margin-left: 10px;
}
.col1 label {
  display: inline-block;
}

.col2 {
  margin-left: auto;
}

@media (max-width: 500px) {
  .banner-inner {
    flex-direction: column;
  }
  .col1 {
    flex-direction: column;
  }
  .col2 {
    margin: 20px auto 0;
  }
}
