
body {
  font-family: sans-serif;
}

.links {
  margin-bottom: 50px;
}
section {
  min-height: 100vh;
}

.banner {
  width: 100%;
  min-height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: blue;
}
